<div class="clientes-container">

  <div class="header">
    <h2>Clientes</h2>
    <button class="btn-nuevo" (click)="nuevo()">Agregar Cliente</button>
  </div>

  <div class="buscador">
    <input type="text" placeholder="Buscar...">
  </div>

  <table class="tabla-clientes">
    <thead>
      <tr>
        <th>ID</th>
        <th>DNI</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of clientes">
        <td>{{ c.idCliente }}</td>
        <td>{{ c.dni }}</td>
        <td>{{ c.nombres }}</td>
        <td>{{ c.apellidos }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.telefono }}</td>

        <td>
          <button class="btn-editar" (click)="editar(c.idCliente!)">Editar</button>
          <button class="btn-eliminar" (click)="eliminar(c.idCliente!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
