<div class="editar-container">

  <h2>Editar Cliente</h2>

  <form (ngSubmit)="guardar()" [formGroup]="form">

    <label>DNI</label>
    <input formControlName="dni">

    <label>Nombres</label>
    <input formControlName="nombres">

    <label>Apellidos</label>
    <input formControlName="apellidos">

    <label>Email</label>
    <input formControlName="email">

    <label>Teléfono</label>
    <input formControlName="telefono">

    <button class="btn-guardar" type="submit">Guardar Cambios</button>
  </form>

</div>
